<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:staging.ello.co</string>
		<string>applinks:ninja.ello.co</string>
		<string>applinks:ello-fg-stage1.herokuapp.com</string>
		<string>applinks:ello-fg-stage2.herokuapp.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.ello.Ello</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)co.ello.Ello</string>
	</array>
</dict>
</plist>
